[user]
    name = Klaas Gunst
    email = klaasgunst@gmail.com
    signingkey = 1EC4CE843790FDE42D1E721AE52892041A4A8BA9
[core]
    editor = vim

[credential "https://github.ugent.be"]
    username = kgunst

[credential "https://github.com"]
    username = klgunst
[alias]
    wdiff = diff --color-words --minimal
    lol = log --oneline
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = false
[cola]
    spellcheck = false
[init]
    defaultBranch = main
[commit]
    gpgsign = false
[push]
    autoSetupRemote = true
